title: ZEEBO的个人博客
subtitle: ''
description: 个人博客
keywords: null
author: ZEEBO
language: zh-CN
timezone: Asia/Shanghai
url: https://lin-zhibo.github.io/
permalink: ':year/:month/:day/:title/'
permalink_defaults: null
pretty_urls:
  trailing_index: true
  trailing_html: true
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: ':lang'
skip_render: null
new_post_name: ':title.md'
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: true
  tab_replace: '    '
  wrap: true
  hljs: true
  exclude_languages:
    - mermaid
prismjs:
  preprocess: false
  line_number: true
  tab_replace: '    '
  exclude_languages:
    - mermaid
index_generator:
  path: ''
  per_page: 10
  order_by: '-date'
default_category: uncategorized
category_map: null
tag_map: null
meta_generator: true
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: mtime
per_page: 10
pagination_dir: page
include: null
exclude: null
ignore: null
theme: icarus
deploy:
  type: git
  repository: git@github.com:Lin-zhibo/Lin-zhibo.github.io.git
  branch: publish

# --- Markdown-it 渲染器配置 (支持 Emoji) ---
markdown:
  render:
    html: true
    xhtmlOut: false
    breaks: true
    linkify: true
    typographer: true
    quotes: '“”‘’'
  plugins:
    - markdown-it-emoji  # 启用 Emoji 支持

# --- Mermaid 流程图配置 ---
# mermaid:
#   enable: true
#   version: "10.9.1" # 明确指定版本，防止插件默认加载旧版 # 2026-1-16: new = 11.12.2
#   options: 
#     theme: 'default'
#     startOnLoad: true
#     securityLevel: 'loose' # 允许脚本运行
#   external:
#     enable: true  # 开启 External，使用 CDN 加载，这能解决 Icarus 的兼容问题
#     platform: cdnjs # 使用稳定的 cdnjs 源
